* {
    padding: auto;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    background: rgb(196, 26, 196);
    text-align: center;
}

img {
    padding-top: 50px;
}

p {
    color: aliceblue;
    text-align: center;
    padding-inline: 100px;
    padding-block-start: 20px;
    padding-block-end: 50px;
    
}

h1 {
    color: aliceblue;
    text-align: center;
}

a {
    color: rgb(202, 223, 241);
}

footer {
    background: rgb(130, 37, 177);
    
}